*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100vw;
}

.layout{
    position: absolute;
    width: 100vw;
    background-color: red;
    display: flex;
}
.list-section{
    width: 25%;
    background-color: plum;
    text-align: center;
}

li{
    margin: 10px;
}
.item-section{
    width: 75%;
    background-color: purple;
}

img{
    width: 200px;
}